<h2> Posts page</h2>

<%= link_to "New post", posts_new_path %>

<table border="1px solid black">
  <tr>
  <th>id</th>
  <th>title</th>
  <th>body</th>
  <th>details</th>
  <th>edit</th>
  <th>delete</th>
  </tr>
<% @posts.each do |post|%>
<tr>
  <p>
  <td>[<%=post.id%>] </td><td> <%=post.title%></td><td> <%=post.body%></td>
  </p>
  <td>
  <%= link_to "show", post %></td>
  <td><%= link_to "edit", edit_path(post) %></td>
  <td><%= link_to "Delete", posts_delete_path(post), method: :delete%></td>
  </tr>

<% end %>
</table>
